// src/sass/base/_typography.scss

// Heading styles
h1, h2, h3, h4, h5, h6 {
    font-family: 'Roboto', sans-serif; // Example font family
    font-weight: 600; // Example font weight
    line-height: 1.2; // Example line height
    margin-bottom: 1rem; // Example margin bottom
  }

  h1 {
    font-size: 2.5rem;
    font-family: $font-family-h1;
  }

  h2 {
    font-size: 2rem;
    font-family: $font-family-h1;
  }

  h3 {
    font-size: 1.75rem; // Example font size for h3
  }

  // Paragraph styles
  p {
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    line-height: 1.5;
    margin-bottom: 1.5rem;
  }

 // _typography.scss

a {

  font-size: $link-font-size;
  font-weight: $link-font-weight;
  color: $link-color;
  text-transform: uppercase;
  text-decoration: none;
  transition: color 0.3s ease;

  a.active {
    color: red
  }

  &:hover {
    color: $hover-color;
  }
}
