

//font imports
@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@400;600;700&family=Urbanist:wght@400;600&display=swap');

body {
  background-color: #e8e6e1;
  background-image: url('/src/assets/images/TO-Basemap.png'); // adjust path
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; // or `contain` or `auto` if you want it subtle
  background-blend-mode: lighten; // Optional: helps blend it with the bg color
  opacity: 0.95; // Optional: tone it down
}


// Import variables and mixins
@import 'abstracts/variables';
@import 'abstracts/mixins';

// Import base styles
// @import 'base/reset';
@import 'base/typography';
@import 'base/elements/body';
@import 'base/elements/accordion';
@import 'base/elements/fade-in';

// Import components
@import './components/loading';
@import 'components/navigation';
@import './components/buttons';
@import './components/map';
@import './components/react-tabs';
@import 'components/footer';

//Import _normalize.scss
@import 'generic/normalize';



// Import page-specific styles
@import 'pages/home';
@import 'pages/about';
@import 'pages/projects';
@import 'pages/project';
@import 'pages/contact';
