

//font imports
@import url('https://fonts.googleapis.com/css2?family=Cinzel&display=swap');


@font-face {
    font-family: 'Cinzel';
    src: url('../fonts/Cinzel/Cinzel-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }

// Import variables and mixins
@import 'abstracts/variables';
@import 'abstracts/mixins';

// Import base styles
// @import 'base/reset';
@import 'base/typography';
@import 'base/elements/body';
@import 'base/elements/accordion';
@import 'base/elements/fade-in';

// Import components
@import 'components/footer';
@import 'components/navigation';
@import './components/buttons';
@import './components/react-tabs';

//Import _normalize.scss
@import 'generic/normalize';

// Import layouts
// @import 'layouts/header';
// @import 'layouts/footer';

// Import page-specific styles
@import 'pages/home';
@import 'pages/about';
@import 'pages/projects';
@import 'pages/project';
@import 'pages/contact';
@import 'pages/skills';
