@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  @mixin flex-space-between  {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  // Define a mixin for responsive font sizes
  @mixin responsive-font($size) {
    font-size: $size;

    @media (max-width: 768px) {
      font-size: $size * 0.8;
    }

    @media (max-width: 480px) {
      font-size: $size * 0.6;
    }
  }


  //Define the image size for mobile devices
  @mixin mobile-img {
      max-width: 37.5rem;
        width: 100%;
        height: auto;
        border-radius: $primary-border-radius $primary-border-radius 0 0;
  }

  //Define the background for text
  @mixin text-background {
    background-color: rgba(204, 230, 244, 0.90);
    border-radius: $primary-border-radius;
    box-shadow:   $primary-box-shadow;
    margin: 1rem 0;
  }

  //Define Breakpoints for larger screens
  @mixin respond-to($breakpoint) {
    @if $breakpoint == small {
      @media (min-width: $breakpoint-small) {
        @content;
      }
    } @else if $breakpoint == medium {
      @media (min-width: $breakpoint-medium) {
        @content;
      }
    } @else if $breakpoint == large {
      @media (min-width: $breakpoint-large) {
        @content;
      }
    }
  }

  //Define the Page Layout mixin for larger screens
  @mixin grid-layout {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 1rem;
  }

  @mixin grid-layout-medium {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 1rem;
  }

  @mixin grid-layout-large {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 1rem;
  }

  @mixin grid-icons($columns: 2, $gutter: 1rem) {
    display: grid;
    grid-template-columns: repeat($columns, 1fr);
    grid-gap: $gutter;
  }

  //Mixin for corners:
  @mixin nw-se-corner-radius {
    border-start-start-radius: $primary-border-radius;
    border-end-end-radius: $primary-border-radius;
  }


