@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  @mixin flex-space-between  {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  // Define a mixin for responsive font sizes
  @mixin responsive-font($size) {
    font-size: $size;

    @media (max-width: 768px) {
      font-size: $size * 0.8;
    }

    @media (max-width: 480px) {
      font-size: $size * 0.6;
    }
  }


  //Define the image size for mobile devices
  @mixin mobile-img {
      max-width: 37.5rem;
        width: 100%;
        height: auto;
        border-radius: $primary-border-radius $primary-border-radius 0 0;
  }

  //Define the background for text
  @mixin text-background {
    background-color: rgba(204, 230, 244, 0.85);
    border-radius: $primary-border-radius;
    box-shadow:   $primary-box-shadow;
    margin: 1rem 0;
  }

