// Define color variables
$primary-color: #053A4C;
$secondary-color: #CCE6F4;
$hover-color: #31081F;
$link-color: #fff ;
$p_white-text: #fff;
$button-color: rgb(49, 8, 31);
$background-gradient: linear-gradient(45deg, #CCE6F4 0%, #053a4c 100%);
$btn-icon-gradient: linear-gradient(30deg, #b51e73, #31081f);




$link-font-family: 'Open Sans', sans-serif;
$link-font-size: 1rem;
$link-font-weight: 400;
$link-text-decoration: none;
$link-hover-text-decoration: underline;


//Define Fonts
$font-family-h1: 'Cinzel', serif;
$font-family-text: 'Open Sans', sans-serif;

//Define font sizes
$font-normal: 1rem;
$font-normal-minus-1: 0.9rem;
$font-normal-plus-1: 1.25rem;
$font-normal-plus-2: 1.5rem;
$font-h1: 2.5rem;
$font-h2: 2rem;
$font-h3: 1.75rem;

//Define Margins:
$mobile-marg-lr: 0.625rem;

//Define Radii
$primary-border-radius: 0.5rem;

//Define center element
$el_center: 0 auto;

  //Define variable for box shadow
  $primary-box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.25);

  //Define drop shadow for images
  $primary-drop-shadow: 0px 10px 15px -3px rgba(151, 148, 148, 0.1);
    $drop-border-radius: 8px;

    //Define Breakpoints
   $breakpoint-small: 48em;
  $breakpoint-medium: 60em;
  $breakpoint-large: 75em;


