// Define color variables
$primary-color: #3498db;
$secondary-color: #CCE6F4;
$hover-color: #2980b9;
$link-font-family: 'Helvetica, Arial, sans-serif';
$link-font-size: 1rem;
$link-font-weight: 400;
$link-text-decoration: none;
$link-hover-text-decoration: underline;


//Define Fonts
$font-family-h1: 'Cinzel', serif;

