body,
main {
    min-height: 100dvh;
}

// Base styles for .about-wrapper
.about-wrapper {
  margin-left: $mobile-marg-lr;
  margin-right: $mobile-marg-lr;
}

.about-content {
  margin-top: 1.5rem;
  // @include calc-min-height;
}

.about-intro {
  @include text-background;
  padding: 1rem;

  h1 {
    text-align: center;
    margin-top: 0;
  }
}

.about-img {
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1.5rem;

    img {
      max-width: 100%;
      height: auto;
      display: block;
    }
  }

  .about-intro-text {
    background-color: rgba(204, 230, 244, 0.85);
    color: $primary-color;
  }

@include respond-to(small) {
  .about-wrapper {
    @include grid-layout;
  }

  .about-content {
    grid-column: 2 / 5;
    width: 45rem;
    margin: 0 auto;
  }

  .about-intro-text {
    grid-column: 2 / 5;
  }
}

@include respond-to(medium) {
  .about-wrapper {
    margin-left: 0;
    margin-top: 0;
  }

  .about-content {
    grid-column: 1 / 5;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto auto;
    grid-gap: 1rem;
  }

  .about-img {
    grid-column: 1 / 4;
    grid-row: 1;
      width: 100%;
    animation: slideInLeft 1s forwards;
    margin-top: 0;
  }

  .about-intro {
    grid-column: 2 / 5;
    grid-row: 1;
    background-color: transparent;
    box-shadow: none;
    @include flex-center;
    flex-direction: column;
    animation: slideInRight 1s forwards;
    margin-top: 0;
    padding: 0;
  }

    .about-intro-text {
      margin-top: 11.5rem;
      padding: 1rem;
      border-radius: $primary-border-radius;
      box-shadow: $primary-box-shadow;

      p{
        margin-bottom: 0;
      }
    }

  .accordion-section {
    grid-column: 2 / 5;
    grid-row: 2;
    margin: 2.5rem 0;
    opacity: 0;
    animation: fadeIn 1s forwards 1s
  }

  .map-section {
    grid-column: 2/ 5;
    grid-row: 3;
    opacity: 0;
    animation: fadeIn 1s forwards 1s
  }
}


.map-section {
  @include text-background;
  @include flex-center;
  flex-direction: column;
  padding: 1rem;
}

@include respond-to(large) {
  .about-intro {
    grid-column: 3/ 5;
  }

  .about-intro-text {
    p {
      font-size: $font-normal-plus-1;
    }

  }
}

//styling for the skills icons
.skills-icons {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}

.skills-icon {
  display: flex;
  justify-content: center;
  align-items: center;

  img {
    width: 5rem;
    height: 5rem;
  }
}

@include respond-to(small) {
  .skills-icons {
      @include grid-icons($columns: 3, $gutter: 1rem);
      margin: 1rem;
  }
}

@include respond-to(medium) {
  .skills-icons {
    @include grid-icons($columns: 4, $gutter: 1rem);
    width: 100%;

    .skills-icon {
      display: inline-block;

      img {
        width: 6rem;
        height: 6rem;
        transition: transform 0.3s ease;

        &:hover {
          transform: scale(1.2);
        }
      }
    }
  }
}
