@import '../abstracts/variables';
@import '../abstracts/mixins';

// Base styles for .about-wrapper
.about-wrapper {
  margin-left: $mobile-marg-lr;
  margin-right: $mobile-marg-lr;
}

.about-content {
  margin-top: 1.5rem;
}

.about-intro {
  @include text-background;
  padding: 1rem;

  h1 {
    text-align: center;
    margin-top: 0;
  }
}

.about-img {
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1.5rem;

    img {
      max-width: 100%;
      height: auto;
      display: block;
    }
  }

@include respond-to(small) {
  .about-wrapper {
    @include grid-layout;
  }

  .about-content {
    grid-column: 2 / 5;
    width: 45rem;
    margin: 0 auto;
  }
}

@include respond-to(medium) {
  // .about-wrapper {
  //   @include grid-layout-medium;
  // }

  .about-content {
    grid-column: 1 / 5;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto auto;
    grid-gap: 1rem;
  }

  .about-img {
    grid-column: 1 / 4;
    grid-row: 1;
      width: 100%;
    animation: slideInLeft 1s forwards;
  }

  .about-intro {
    grid-column: 3 / 5;
    grid-row: 1;
    background-color: transparent;
    box-shadow: none;
    @include flex-center;
    flex-direction: column;
    animation: slideInRight 1s forwards;
  }

    .about-intro-text {
      margin-top: 11.5rem;
      background-color: rgba(204, 230, 244, 0.85);
      color: $primary-color;
      padding: 1rem;
      border-radius: $primary-border-radius;
      box-shadow: $primary-box-shadow;
    }

  .accordion-section {
    grid-column: 2 / 5;
    grid-row: 2;
  }

  .map-section {
    grid-column: 2/ 5;
    grid-row: 3;
  }
}

.about-intro {
  @include flex-center;
  flex-direction: column;
}

.map-section {
  @include text-background;
  @include flex-center;
  flex-direction: column;
  padding: 1rem;
}
