@import '../abstracts/variables';
@import '../abstracts/mixins';

// Base styles for .about-wrapper
.about-wrapper {
  margin-left: $mobile-marg-lr;
  margin-right: $mobile-marg-lr;
}

@include respond-to(small) {
  .about-wrapper {
    @include grid-layout;
  }

  .about-content {
    grid-column: 2 / 5;
    width: 45rem;
    margin: 0 auto;
  }
}

@include respond-to(medium) {
  .about-wrapper {
    @include grid-layout-medium;
  }

  .about-content {
    grid-column: 2 / 6;
    gap: 1rem;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto auto;

    .about-intro {
      grid-column: 1 / 3;
      grid-row: 1;
      width: 100%;

      img {
        margin-top: 0;
      }
    }

    .accordion-section {
      grid-column: 3 / 5;
      width: 100%;
      height: auto;
    }

    .map-section {
      grid-column: 1 / 5;
      grid-row: 2;
      width: 100%;
    }
  }
}

.about-content {
    margin-top: 1.5rem;
}

.about-intro {
  @include flex-center;
  flex-direction: column;


  img {
    @include mobile-img;
    max-width: 45rem;
  }

  h1 {
    text-align: center;
    margin-top: 0;
  }
}

.about-intro-text {
  @include text-background;
  padding: 1rem;
}

// .accordion-section {
//   background-color: $primary-color;
// }

.map-section {
  @include text-background;
  @include flex-center;
  flex-direction: column;
  padding: 1rem;

//   #map {
//     padding: 1rem;
// }
}


