@import '../abstracts/variables';
@import '../abstracts/mixins';

// Base styles for .home-container
.home-wrapper {
  margin-left: $mobile-marg-lr;
  margin-right: $mobile-marg-lr;
}

.main-home {
  @include calc-min-height;
}

.home-header {
  @include flex-center;
  flex-direction: column;

  img {
    width: 100%;
    display: block;
    margin-left: 0;
    margin-right: 0;
  }
}

.home-intro {
  @include text-background;
  color:  $secondary-color;
  padding: 0.5rem;
  margin-bottom: 2rem;
}

.home-intro-text {
  h1,
  p {
    margin-top: 0;
  }
}

.global-buttons {
  display: flex;
  justify-content: center;

  .button {
    margin: 1rem 0.5rem;
  }
}

// Media queries for small screens
@include respond-to(small) {
  .home-wrapper {
    @include grid-layout;
    margin-left: 0;
  }

  .home-header img {
    width: 100%;
  }

  .home-content {
    grid-column: 2 / 5;
    width: 45rem;
    margin: 0 auto;
    margin-bottom: 3rem;
  }
}

// Media queries for medium screens
@include respond-to(medium) {
  .home-content {
    grid-column: 1 / 5;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto auto;
    grid-gap: 1rem;

    .home-header {
      grid-column: 1 / 4;
      grid-row: 1;
      width: 100%;
      animation: slideInLeft 2s forwards;

      img {
        width: 100%;
        height: auto;
      }
    }

    .home-intro {
      grid-column: 3 / 5;
      grid-row: 1;
      @include flex-center;
      flex-direction: column;
      animation: slideInRight 1s ease-in 0.2s forwards;
      transform: translateX(100%);
      opacity: 0;
      will-change: transform, opacity;
      z-index: 2;

      .home-intro-text {
        @include text-background;
        color: $secondary-color;
        padding: 1rem;
        border-radius: $primary-border-radius;
        box-shadow: $primary-box-shadow;
      }

      h1 {
        margin-top: 0;
      }
    }
  }
}

// Keyframes for animation
@keyframes slideInLeft {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes slideInRight {
  0% {
    transform: translateX(100%);
    opacity: 0; /* Hidden at start */
  }
  100% {
    transform: translateX(0);
    opacity: 1; /* Fully visible at end */
  }
}

// Media queries for large screens
@include respond-to(large) {
  .home-content {
    width: 100%;

    .home-header {
      grid-column: 1 / 4;
      grid-row: 1;
      width: 100%;
      z-index: 1;
    }

    .home-intro {
      grid-column: 3 / 5;
      grid-row: 1;
      @include flex-center;
      flex-direction: column;
      animation: slideInRight 1.75s ease-in 0.2s forwards;
      transform: translateX(100%);
      opacity: 0;
      will-change: transform, opacity;
      z-index: 2;

      /* Ensure no background color or shadow */
      background-color: transparent !important;
      box-shadow: none !important;
    }


    .home-intro-text {
      // background-color: rgba(204, 230, 244, 0.85);
      color: $secondary-color;
      padding: 1rem;
      border-radius: $primary-border-radius;
      box-shadow: $primary-box-shadow;

      h1,
      p {
        margin: 0;
      }

      h1 {
        font-size: 3rem;
      }

      p {
        font-size: $font-normal-plus-1;
      }
    }

    }
  }

