@import '../abstracts/variables';
@import '../abstracts/mixins';

// Base styles for .projects-wrapper
.projects-wrapper {
    margin-left: $mobile-marg-lr;
    margin-right: $mobile-marg-lr;
}

.projects-intro-img {
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1.5rem;

    img {
      max-width: 100%;
      height: auto;
      display: block;
    }
  }

.projects-intro-text {
    background-color: rgba(204, 230, 244, 0.94);
    color: $primary-color;

    h1 {
        margin-top: 0;
    }
}

  @include respond-to(medium) {
    .projects-wrapper {
        @include grid-layout;
      margin-left: 0;
      margin-top: 0;
    }

    .projects-content {
      grid-column: 1 / 5;
      width: 100%;
      @include grid-layout-elements(4, auto auto, 1rem);
    }

    .projects-img {
      grid-column: 1 / 4;
      grid-row: 1;
      width: 100%;
      animation: slideInLeft 1s forwards;
      margin-top: 0;

      img {
        width: 100%;
        height: auto;
        display: block;
      }
    }

    .projects-intro {
      grid-column: 3 / 5;
      grid-row: 1;
      background-color: transparent;
      box-shadow: none;
      @include flex-center;
      flex-direction: column;
      animation: slideInRight 1s forwards;
      margin-top: 0;
      padding: 0;
    }

    .projects-intro-text {
      margin-top: 11.5rem;
      padding: 1rem;
      border-radius: $primary-border-radius;
      box-shadow: $primary-box-shadow;

      h1 {
        margin-top: 0;
      }

      p {
        margin-bottom: 0;
      }

    }

    .project-cards {
        grid-column: 2/5;
        grid-row: 2;
        @include flex-center;
        flex-wrap: wrap;
        margin-top: 5rem;
    }
}

.projects-intro {
    @include flex-center;
    flex-direction: column;

    img {
        @include mobile-img;
    }

    h1 {
        font-size: $font-h1;
    }
}

.project-cards {
    @include flex-center;
    flex-direction: column;
    opacity: 0;
    animation: fadeIn 1s forwards 1s
}

.project-card {
    display: grid;
    grid-template-rows: auto auto auto auto;
    grid-template-areas:
      "image"
      "title"
      "summary"
      "button";
    align-items: center;
    justify-items: center;
    background-color: white;
    border-radius: $primary-border-radius;
    box-shadow: $primary-box-shadow;
    max-width: 18.75rem;
    // height: 42.5rem;
    margin-bottom: 1.5rem;

    img {
      grid-area: image;
      @include mobile-img;
      border-radius: $primary-border-radius;
      align-self: flex-start;
      margin-top: 0;
  }

  h2 {
      grid-area: title;
      margin: 0.5rem 0;
  }

  p {
      grid-area: summary;
      padding: 0 1rem;
      margin: 0;
      margin-bottom: 1rem;
  }

  .projects-btn {

      grid-area: button;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 0.5rem;
  }
}


@include respond-to(large) {
    .projects-intro-text {
        h1 {
            font-size: 3rem;
        }

        p {
            font-size: $font-normal-plus-1;
        }
    }

    .project-card {
        display: grid;
        grid-template-columns: 40% 60%;
        grid-template-rows: auto;
        grid-template-areas:
          "image title"
          "image summary"
          "image button ";
        max-width: none;
        height: auto;

        img {
          align-self: start;
          justify-self: start;
          border-radius: 0;
          @include nw-se-corner-radius;
        }

        h2, p, .projects-btn {
            align-self: start;
            text-align: left;
        }

        h2 {
            margin-top: 1rem;
        }

        .projects-btn {
          margin: 1rem 0;
        }
    }
}
