.projects-wrapper {
    margin-left: $mobile-marg-lr;
    margin-right: $mobile-marg-lr;
}

.projects-intro {
    @include flex-center;
    flex-direction: column;

    img {
        @include mobile-img;


        h1 {
            font-size: $font-h1;
        }
}
}

.project-intro-text {
    @include text-background;
    padding: 0.5rem 1rem;
    margin: 1rem 0;
}

.project-cards {
    @include flex-center;
    flex-direction: column;
}

.project-card {
    @include flex-center;
    flex-direction: column;
    @include text-background;
    // border: 1px solid  #053A4C;
    background-color: white;
    max-width: 25rem;

    img {
        @include mobile-img;
        border-radius: $primary-border-radius;
    }

    p {
        padding: 0 1rem;
    }
}
