.skills-wrapper {
    margin-left: $mobile-marg-lr;
    margin-right: $mobile-marg-lr;
}

@include respond-to(small) {
    .skills-wrapper {
        @include grid-layout;
    }

    .skills-content {
        grid-column: 2 / 5;
        width: 100%;
        margin: 0 auto;
        @include calc-min-height;
    }

    .react-tabs {
        // @include flex-center;
        // flex-direction: column;
        width: 100%;
        margin: 0  auto;
    }

//    .react-tabs__tab-panel {
//         width: 48rem;
//     }
}

.skills-logo {
    @include flex-center;
    margin-top: 1.5rem;

    img {
        @include mobile-img;
        max-width: 8rem;
    }
}

.skills-intro {
    @include  text-background;
    padding: 1rem;
    margin-bottom: 3rem;

    h2 {
        margin-top: 0.25rem;
    }
}

.skills-icons {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
  }

  .skills-icon {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .skills-btn-call-to-action {
    @include flex-center;
    padding: 1.5rem 0;
    margin: 1rem;
  }

  @include respond-to(small) {
    .skills-icons {
        @include grid-icons($columns: 3, $gutter: 1rem);
    }
  }

  @include respond-to(medium) {
    .skills-content {
        width: 100%;
        opacity: 0;
      animation: fadeIn 0.5s forwards 0.5s
    }

    .skills-icons {
        @include grid-icons($columns: 4, $gutter: 1rem);
        width: 100%;
    }
  }


