.skills-wrapper {
    margin-left: $mobile-marg-lr;
    margin-right: $mobile-marg-lr;
}

@include respond-to(small) {
    .skills-wrapper {
        @include grid-layout;
    }

    .skills-content {
        grid-column: 2 / 5;
    }
}

.skills-logo {
    @include flex-center;
    margin-top: 1.5rem;

    img {
        @include mobile-img;
        max-width: 8rem;
    }
}

.skills-intro {
    @include  text-background;
    padding: 1rem;
    margin-bottom: 1.5rem;

    h2 {
        margin-top: 0.25rem;
    }
}

.skills-icons {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
  }

  .skills-icon {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .skills-btn-call-to-action {
    @include flex-center;
    padding: 1.5rem 0;
    margin: 1rem;
  }


