// _footer.scss


.footer {
  background-color: $primary-color;
  padding: 1.75rem 0;
  margin-top: 3rem;
  text-align: center;
  color: #fff;
  @include flex-center;
  flex-direction: column;
  flex-shrink: 0;
  width: 100%;
  box-shadow: $top-box-shadow;
  opacity: 0;
  animation: fadeIn 1s forwards 2s;

  .copyright {
    margin-bottom: 1rem;

    a {
      color: #fff;
      text-decoration: underline;

      &:hover {
        color: darken($primary-color, 30%);
      }
    }
  }

  .social-links {
    display: flex;
    justify-content: center;
    gap: 2rem;

    a {
      color: #fff;
      font-size: 1.5rem;

      img {
        width: 2rem;
        height: 2rem;
      }

      &:hover {
        transform: scale(1.2);
      }
    }
  }

  @include respond-to(small) {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    .copyright {
      order: 1;
      margin: 0 1rem;
    }

    .social-links {
      order: 2;
    }
  }
}

@include respond-to(medium)  {
  .footer {
    margin-top: 5rem;
  }

  .social-links {
    margin-right: 4rem;
  }
}


