.site-header {
    background-color: rgba(5, 58, 76, 0.7);
    color: white;
    padding: 1.25rem 2rem;
}

.site-branding {
    /* Styles for site branding */
}

.site-navigation {
    ul {
        list-style: none;
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: center;

        li {
            margin-right: 1rem;

            a {
                color: $link-color;
                text-decoration: none;
                padding: 0.5rem 1rem;
                display: inline-block;
                font-size: 1.2rem;

                &:hover,
                &.active {
                    color: #CCE6F4;
                    transform: scale(0.9);
                    transition: color 0.5s ease;
                }
            }
        }
    }
}
