.no-scroll {
  overflow: hidden;
}

.site-branding {
  margin: 0 1.5rem;

  .site-logo {
    width: 2.5rem;
    height: auto;
    display: block;
  }
}

.site-header {
    background-color: rgba(5, 58, 76, 0.7);
    box-shadow: $primary-box-shadow;
    color: white;
    padding: 1rem 0;
    position: relative;
    z-index: 2;
    font-family: $font-family-text;
    @include flex-space-between;

    .menu-toggle {
      display: none;
      position: absolute;
      top: 1.25rem;
      right: 2rem;
      background: none;
      border: none;
      color: white;
      font-size: 1.5rem;
      cursor: pointer;

      @media (max-width: 768px) {
        display: block;
      }
    }

    .site-navigation {
      ul {
        list-style: none;
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: center;

        li {
          margin-right: 1rem;

          a {
            color: $link-color;
            text-decoration: none;
            padding: 0.5rem 1rem;
            display: inline-block;
            font-family: $font-family-text;
            font-size: $font-normal-plus-1;

            &:hover,
            &.active {
              color: yellow;
            }
          }
        }
      }

      @media (max-width: 768px) {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: calc(100% - 4rem);
        background-image: $background-gradient;
        z-index: 10;
        padding: 1rem 0;

        &.active {
          display: block;
          margin-top: 4.5rem;
        }

        ul {
          flex-direction: column;
          align-items: center;

          li {
            margin-bottom: 1rem;
            margin-right: 0;

            a {
              padding: 1rem;
            }
          }
        }
      }
    }
  }
