
.react-tabs {
  font-family: $font-family-text;
  width: calc(100vw - 2 * $mobile-marg-lr);
  max-width: 37.5rem;
  margin: 0 auto;
  overflow: hidden;


  .react-tabs__tab-list {
    display: flex;
    justify-content: center;
    max-width: 100%;
    overflow: hidden;
    margin-bottom: 0;
  }


  .react-tabs__tab {
    width: 4.5rem;
    cursor: pointer;
    background: $btn-icon-gradient;
    color: #000;
    margin: 0.3rem;
    border-color: $primary-color;
    border-width: 1px;
    border-style: solid;
    border-radius: $primary-border-radius;
    transition: background-color 0.3s ease;
    text-align: center;
    margin-bottom: 1rem;

    &:hover {
      background-color: $secondary-color;
    }
  }

.react-tabs__tab.react-tabs__tab--selected {
  background-color: $primary-color  !important;
  // border-bottom: 1px solid #000  !important;
  color: #fff  !important;;

  * {
    text-decoration: none;
  }
}

  .react-tabs__tab-panel {
    font-family: $font-family-text;
    font-size: $font-normal-minus-1;
    padding: 0.75rem;
    border-radius: $primary-border-radius;
    background-color: $primary-color;
    max-width: 100%;
    color: #fff;
  }

  .button {
    display: inline-block;
    padding: 0.5rem 0.75rem;
    margin-top: 1rem;
    margin-left: 0.25rem;
    background-color: $button-color;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;

    &:hover {
      background-color: darken($button-color, 20%);

    }
  }
}
