// @import '../../base/elements/accordion';
.css-ahj2mt-MuiTypography-root ul li {
    font-family: $font-family-text;
}

.MuiAccordion-root {
    background-color: $primary-color;

    .MuiAccordionSummary-root {
        background-color: $primary-color;


        .MuiAccordionSummary-content {
            background-color: $primary-color;

            p {
                font-family: $link-font-family;
                color: white;
                font-size: $font-normal-plus-1;
            }

            li {
                font-family: $link-font-family;
            }
        }
    }

    .MuiAccordionDetails-root {
        background-color: white
    }
}

.MuiSvgIcon-root.MuiSvgIcon-fontSizeMedium.css-i4bv87-MuiSvgIcon-root {
    path {
      fill: white;
    }
  }
